<h2>edit user data</h2>

<%= form_for @user do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label :password %><br>
  <%= f.text_field :password %><br>
  <br>
  <%= f.submit %>

<% end %>
