<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>


<%= form_with model: @book do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><br>
  <%= f.label :writer, "Writer" %>
  <%= f.text_field :writer %><br>
  <%= f.label :year, "Year" %>
  <%= f.number_field (:year) %><br>

  <%= f.submit %>
<% end %>
